.btn-secondary {
  color: #fff !important; }

img {
  width: 100%; }

.logo {
  width: 80px; }

.navbar {
  opacity: 0.9;
  text-transform: uppercase; }

.social a {
  margin-right: 0.4rem; }

#showcase {
  background: url(../img/showcase.jpg) no-repeat top center fixed/cover;
  position: relative;
  min-height: 650px;
  color: #fff;
  padding-top: 6rem; }
  #showcase .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px; }
  #showcase .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
    width: 100%;
    background: rgba(51, 51, 51, 0.8); }

#services {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  min-height: 300px;
  position: relative;
  overflow: hidden; }
  #services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(32, 134, 107, 0.8); }

#showcase-inner {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  position: relative;
  overflow: hidden;
  min-height: 200px; }
  #showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(32, 134, 107, 0.8); }
  #showcase-inner.showcase-search {
    min-height: 270px; }

#work {
  padding: 6rem 0; }

.listing-preview a {
  position: relative; }

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem; }
    #showcase h1 {
      font-size: 40px; }
  .hide-md-down {
    display: none; } }

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem; }
    #showcase h1 {
      font-size: 40px; }
    #showcase p {
      display: none; }
  #top-bar {
    text-align: center; }
    #top-bar .social {
      text-align: center !important; } }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px; }
  #showcase-inner h1 {
    font-size: 40px; } }

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

#listings.py-5{
  background: #DCDCDC;
}

#listings.py-4, #listing.py-4{
  background: #DCDCDC;
}

#profile, #password_change, #reset_password {
  background: #DCDCDC;
  }

.container.p-5 {
  background: #DCDCDC;
}

#register, #login, #team.py-5 {
  background: #DCDCDC;
  /* color: white; */
}

#nav_titles {
  text-transform: capitalize;
  font-size: 20px;
}

#profile_card {
  border: thin solid black;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.important_headings{
  letter-spacing: 5px;
}

#about_content, #team_members {
  background-color: #fff;
}

#showcase, #services, #about {
  position: relative; 
}

#showcase::before {    
  content: "";
  background-image: url(../img/showcase.jpg);
  position: absolute;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; 
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}

#services::before {    
  content: "";
  background-image: url(../img/building.jpg);  
  min-height: 400px;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; 
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}

#about::before {    
  content: "";
  background-image: url(../img/building.jpg);
  position: absolute;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; 
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

@media(max-width:568px){
  #showcase::before, #services::before, #about::before{
    background-attachment: scroll;
  }
}

#team {    
background: #DCDCDC;
}
/* #showcase .home-search .overlay{
  position: absolute; 
  width: 100%;
  align-items: center;
} */

/* #all_services{
  position: absolute; 
  width: 100%;
  height: 100%;
  align-items: center;
} */

.f-l {
  float: left;
}
  
.f-r {
  float: right;
}

#work_content {
  padding: 10px;
}

#main-footer{
  padding: 20px;
}

#each_listing {
  padding: 25px;
}

#about_content, #team_members, #home_listing {
  padding: 20px;
}


#register, #login, #profile {
  padding: 25px;
}

/* #profile_update {
  padding: 0px 15px;
} */

@media(max-width:568px){
  #profile_update {
    padding: 10px 15px;
  }
}