<footer id="main-footer" class="py-4 bg-primary text-white text-center" class="footer">
    Copyright &copy;
    <span class="year"></span> KM Homes &ensp;| &ensp;Website created by Karthikeyan Masilamani (&ensp;<i class="fas fa-phone fa-inverse"></i> +91-9585675562,&ensp;<i class="fas fa-envelope-open fa-inverse"></i> productdeveloper.karthikeyan@gmail.com,&ensp;<a href="https://www.linkedin.com/in/karthikeyan-m-576336240?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BccX2Rq04R8aFNwX5HNnRSw%3D%3D" target="_blank">
      <i class="fab fa-linkedin fa-inverse"></i></a>&ensp;Linkedin Profile )
  </footer>