{% extends 'base.html' %}
{% load static %}
{% block title %}| Reset Password Confirm{% endblock %}
{% block content %}

  {% load crispy_forms_tags %}  
  
  <!--Password Reset Confirm-->
    <section id="reset_password" class="py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-10">
                <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>
                    <i class="fa fa-key"></i> Password Reset Confirm</h4>
                </div>
                <div class="card-body">
                    {% include 'partials/_alert.html' %}
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}                    
                        <button class="btn btn-primary" type="submit">Reset password</button>
                    </form>                     
                </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}