{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %} 
{% block title %}| Change Password{% endblock %}
{% block content %}
<!--Reset Password-->
<section id="password_change" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
            <div class="card">
            <div class="card-header bg-primary text-white">
                <h4>
                <i class="fa fa-key"></i> Change Password</h4>
            </div>
            <div class="card-body">
                {% include 'partials/_alert.html' %}
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}                    
                    <button class="btn btn-primary" type="submit">Change My password</button>
                </form>                      
            </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}